<div class='col-lg-6'>
  <div class='well'>

    <% if @comic %>
       <% if @comic.errors.any? %>
         <div id="error_explanation">
           <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

           <ul>
           <% @comic.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
           <% end %>
           </ul>
         </div>
       <% end %>
     <% end %>

     <form action="/comics/create">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" class="form-control">
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="text" name="image_url" class="form-control">
      </div>
      <div class="actions">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

  </div>
</div>
