<div class='row'>
  <div class='col-md-5'>
    <%= link_to image_tag(@comic.image_url, :class => "col-md-12"), "/comics/#{@comic.id}", class:'img-responsive'%>
  </div>
  <div class='col-md-7'>
    <h1><%=@comic.title%></h1>
    <h4><%=@comic.description %></h4>



  <%= link_to "Delete Comic", "/comics/delete/#{@comic.id}", class: 'btn btn-warning' %>
    <!-- ALSO INCLUDE A CONFIRMATION MESSAGE 'Are you sure?' -->
  </div>
</div>
